

.signup_form {
    background-color: var(--background-2);
    color: var(--text-1);
    /*border-radius: 10px;*/
    padding: 10px;
    text-align: center;

    width: (100% - 10px);
    height: (100% - 10px);
}
.input_text {
    background-color: var(--background-2);
    color: var(--text-1);
    border: 2px solid var(--background-3);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: 80%;
}
.input_text:focus {
    outline: 0;
    border: 2px solid var(--accent-primary);
}
input:invalid {
    border: solid 1px var(--accent-danger);
}
@media (min-height: 540px) {
    @media (min-width: 500px) {
        .signup_form {
            /**/
            overflow: scroll;
            background-color: var(--background-1);
            color: var(--text-1);
            border-radius: 20px;
            padding: 10px;
            text-align: center;
            margin: 10%;
            margin-top: 5%;
            width: (70% - 10px);
            height: (80% - 10px);
            align-items: stretch;


            box-sizing: border-box;
            position: absolute;
            padding: 10px;
            margin: 0 auto;
            width: 80%;
            height: 80%;
            left: 10%;
            top: 10%;
            border-radius: 10px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
            box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
        }
    }
}